body {
  color: #414141;
background color: #EEEEEE;
}

h1 {
  font-size: 2em;
}

h2 {
font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}
.synopsis em {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
 border-right: 1px solid #bbb;
}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
h1, p {
  background-color: #DDE0E3;    /* Light gray */
}

em, strong {
  background-color: #B2D6FF;    /* Light blue */
}

h1 {
  padding: 50px;
border: 1px solid #5D6063;
}
p {
  padding: 20px 0 20px 10px;
margin-top: 25px;
  margin-bottom: 50px;
}
strong {
  margin: 50px;
}
div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
}
body {
  text-align: center;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited:hover {
  color: orange;
}
a:visited:active {
  color: red;
}
$ ^C
$ cat styles.css
body {
  color: #414141;
background color: #EEEEEE;
}

h1 {
  font-size: 2em;
}

h2 {
font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}
.button {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}
.page {
  width: 600px;
  margin: 0 auto;
}
